label {
    display: block;
}

button {
    /* display: grid;
    grid-template-columns: repeat(2 auto); */
    background-color: #2CA58D;
    /* border: 1px solid hsl(168, 58, 25); */
    border: 1px solid #FFFDF7;
    color: #FFFDF7;
    border-radius: 5px;
    box-shadow: var(--shadow);
    gap: 10px;
}

button:hover {
    border-color: #0A2342;
}